Repository boostcampwm-2021/iOS06-MateRunner, pull requests merged in 2021-12, with the labels that each got.

#359 RunningPreparation 뷰모델, 유즈케이스 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/UseCase/Home/SettingUseCase/DefaultRunningPreparationUseCase.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewController/SettingViewController/RunningPreparationViewController.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/SettingViewModel/RunningPreparationViewModel.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/RunningPreparationUseCaseTests.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/Mock/MockRunningSettingUseCase.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/RunningPreparationViewModelTests.swift
Labels: review, 여훈, test

#360 회원가입 시 이용약관 표시
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/Common/Coordinator/DefaultAppCoordinator.swift
  MateRunner/MateRunner/Presentation/LoginScene/Coordinator/DefaultLoginCoordinator.swift
  MateRunner/MateRunner/Presentation/LoginScene/Coordinator/Protocol/LoginCoordinator.swift
  MateRunner/MateRunner/Presentation/LoginScene/ViewController/LoginViewController.swift
  MateRunner/MateRunner/Presentation/LoginScene/ViewController/TermsViewController.swift
  MateRunner/MateRunner/Presentation/LoginScene/ViewModel/LoginViewModel.swift
  MateRunner/MateRunner/Resource/termsOfLocationService.txt
  MateRunner/MateRunner/Resource/termsOfPrivacy.txt
  MateRunner/MateRunner/Resource/termsOfService.txt
  MateRunner/MateRunner/Util/Constant/CoordinatorType.swift
  MateRunner/MateRunner/Util/Constant/FilePath.swift
Labels: feature, 민지

#364 MateUseCase 테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/UseCase/Mate/DefaultMateUseCase.swift
  MateRunner/MateRunner/Domain/UseCase/Mate/Protocol/MateUseCase.swift
  MateRunner/MateRunnerUseCaseTests/Common/Mock/MateUseCaseTests.swift
  MateRunner/MateRunnerUseCaseTests/Common/Mock/MockMateRepository.swift
Labels: feature, review, 유진

#366 메이트 기록없는 상태에서 리프레쉬가 안끝나는 버그 수정
  MateRunner/MateRunner/Domain/UseCase/Mate/DefaultProfileUseCase.swift
  MateRunner/MateRunner/Presentation/MateScene/ViewModel/MateProfileViewModel.swift
Labels: bug, 유진

#367 페이지네이션, 리프레쉬 버그 수정
  MateRunner/MateRunner/Presentation/MateScene/ViewModel/MateProfileViewModel.swift
Labels: bug, 유진

#361 MateRunningModeSetting 뷰모델 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/SettingViewModel/MateRunningModeSettingViewModel.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/MateRunningModeSettingViewModelTests.swift
Labels: review, 여훈, test

#363 RecordUseCase 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/Model/PersonalTotalRecord.swift
  MateRunner/MateRunner/Domain/Model/Point.swift
  MateRunner/MateRunner/Domain/Model/RunningResult.swift
  MateRunner/MateRunner/Domain/Model/RunningSetting.swift
  MateRunner/MateRunner/Util/Constant/Emoji.swift
  MateRunner/MateRunner/Util/Constant/RunningMode.swift
  MateRunner/MateRunnerUseCaseTests/Common/Mock/MockFirestoreRepository.swift
  MateRunner/MateRunnerUseCaseTests/RecordScene/RecordUseCaseTests.swift
Labels: review, 정원, test

#370 MapViewModel 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunnerViewModelTests/HomeScene/MapViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/Mock/MockLocationService.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/Mock/MockMapUseCase.swift
Labels: review, 여훈, test

#371 NotificationUseCase 단위테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/Model/Notice.swift
  MateRunner/MateRunner/Domain/UseCase/MyPage/DefaultNotificationUseCase.swift
  MateRunner/MateRunnerUseCaseTests/MyPageScene/NotificationUseCaseTests.swift
Labels: review, 정원, test

#373 EmojiUseCase 단위테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/UseCase/Common/DefaultEmojiUseCase.swift
  MateRunner/MateRunnerUseCaseTests/Common/EmojiUseCaseTests.swift
  MateRunner/MateRunnerUseCaseTests/Common/Mock/MockEmojiDidSelectDelegate.swift
Labels: review, 정원, test

#374 MapUseCase 단위 테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/UseCase/Home/Protocol/MapUseCase.swift
  MateRunner/MateRunner/Domain/UseCase/Home/RunningUseCase/DefaultMapUseCase.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/MapUseCaseTests.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/Mock/MockLocationService.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/Mock/MockLocationService.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/Mock/MockMapUseCase.swift
Labels: 여훈, test

#375 EmojiViewmodel 단위테스트
  MateRunner/EmojiViewModelTests.swift
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/Common/ViewController/EmojiViewController.swift
  MateRunner/MateRunner/Presentation/Common/ViewModel/EmojiViewModel.swift
  MateRunner/MockEmojiUseCase.swift
Labels: review, 유진, test

#376 LoginUseCase 단위테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/UseCase/Account/DefaultLoginUseCase.swift
  MateRunner/MateRunner/Domain/UseCase/Account/Protocol/LoginUseCase.swift
  MateRunner/MateRunnerUseCaseTests/LoginScene/LoginUseCaseTests.swift
Labels: review, 정원, test

#378 InvitationViewModel 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/Common/ViewModel/InvitationViewModel.swift
  MateRunner/MateRunnerViewModelTests/Common/InvitationViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/Common/Mock/MockInvitationUseCase.swift
Labels: review, 유진, test

#377 HomeUseCase 단위 테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunnerUseCaseTests/HomeScene/HomeUseCaseTests.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/Mock/MockLocationService.swift
Labels: review, 여훈, test

#379 RunningUseCase 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/UseCase/Home/Protocol/RunningUseCase.swift
  MateRunner/MateRunner/Domain/UseCase/Home/RunningUseCase/DefaultRunningUseCase.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/RunningViewModel/RaceRunningViewModel.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/RunningViewModel/TeamRunningViewModel.swift
  MateRunner/MateRunnerUseCaseTests/Common/Mock/MockUserRepository.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/Mock/MockCoreMotionService.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/Mock/MockRunningRepository.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/Mock/MockTimerService.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/RunningUseCaseTests.swift
  MateRunner/ProfileUseCaseTests.swift
Labels: review, 여훈, test

#380 코어데이터 관련 파일, 코드 제거
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Application/AppDelegate.swift
  MateRunner/MateRunner/Resource/CoreData/MateRunner.xcdatamodeld/.xccurrentversion
Labels: chore

#381 ProfileEditViewmodel 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/MyPageScene/ViewModel/ProfileEditViewModel.swift
  MateRunner/MateRunnerViewModelTests/Common/Mock/MockProfileEditUseCase.swift
  MateRunner/MateRunnerViewModelTests/Common/Mock/ProfileEditViewModelTests.swift
Labels: review, 유진, test

#383 SingUpUseCase 단위테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/UseCase/Account/DefaultSignUpUseCase.swift
  MateRunner/MateRunner/Util/Constant/SignUpValidationState.swift
  MateRunner/MateRunnerUseCaseTests/Common/Mock/MockUserRepository.swift
  MateRunner/MateRunnerUseCaseTests/LoginScene/SignUpUseCaseTests.swift
Labels: review, 정원, test

#385 MypageViewModel 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/MyPageScene/ViewModel/MyPageViewModel.swift
  MateRunner/MateRunnerViewModelTests/MyPageScene/Mock/MockMyPageUseCase.swift
  MateRunner/MateRunnerViewModelTests/MyPageScene/MyPageViewModelTests.swift
Labels: review, 유진, test

#386 FirebaseRepository 파일 복잡도, 라인 수 줄이기
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Data/Repository/Common/DefaultFirestoreRepository.swift
  MateRunner/MateRunner/Network/DefaultURLSessionNetworkService.swift
  MateRunner/MateRunner/Util/Constant/FireStoreConstants.swift
  MateRunner/MateRunnerUseCaseTests/LoginScene/SignUpUseCaseTests.swift
Labels: 여훈, refactor

#388 RecordViewModel 단위테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/RecordScene/ViewModel/RecordViewModel.swift
  MateRunner/MateRunnerViewModelTests/RecordScene/Mock/MockRecordUseCase.swift
  MateRunner/MateRunnerViewModelTests/RecordScene/RecordViewModelTests.swift
Labels: review, 정원, test

#387 CoreLocation 관련 공통메서드 Protocol로 분리
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/Common/ViewModel/Protocol/CoreLocationConvertable.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/ResultViewModel/RaceRunningResultViewModel.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/ResultViewModel/SingleRunningResultViewModel.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/ResultViewModel/TeamRunningResultViewModel.swift
  MateRunner/MateRunner/Presentation/RecordScene/ViewModel/RecordDetailViewModel.swift
Labels: review, 여훈, refactor

#389 SingleRunningViewModel 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/RunningViewModel/SingleRunningViewModel.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/Mock/MockSingleRunningUseCase.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/SingleRunningViewModelTests.swift
Labels: 여훈, test

#390 SingleRunningResultViewModel 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/ResultViewModel/SingleRunningResultViewModel.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/Mock/MockRunningResultUseCase.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/SingleRunningResultViewModelTests.swift
Labels: 여훈, test

#391 RunningResultUseCase 테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunnerUseCaseTests/Common/Mock/MockFirestoreRepository.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/RunningResultUseCaseTests.swift
Labels: 민지, test

#392 RunningSettingUseCase 테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner.xcodeproj/xcshareddata/xcschemes/MateRunner.xcscheme
  MateRunner/MateRunner/Domain/UseCase/Home/SettingUseCase/DefaultRunningSettingUseCase.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/RunningSettingUseCaseTests.swift
Labels: 민지, test

#393 LoginViewModel 단위테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/LoginScene/ViewModel/LoginViewModel.swift
  MateRunner/MateRunnerViewModelTests/LoginScene/LoginViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/LoginScene/Mock/MockLoginUseCase.swift
Labels: review, 정원, test

#395 MateProfileViewModel 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/MateScene/ViewModel/MateProfileViewModel.swift
  MateRunner/MateRunnerViewModelTests/MateScene/MateProfileViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/MateScene/Mock/MockProfileUseCase.swift
Labels: review, 유진, test

#396 InvitationWaitingViewModel 테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/UseCase/Home/Protocol/InvitationWaitingUseCase.swift
  MateRunner/MateRunner/Domain/UseCase/Home/SettingUseCase/DefaultInvitationWaitingUseCase.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewController/SettingViewController/InvitationWaitingViewController.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/SettingViewModel/InvitationWaitingViewModel.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/InvitationWaitingViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/Mock/MockInvitationWaitingUseCase.swift
Labels: 민지, test

#397 변수명 변경사항 반영
  MateRunner/MateRunner/Domain/UseCase/Home/SettingUseCase/DefaultInvitationWaitingUseCase.swift
Labels: bug, 민지, fix

#398 NotificationViewModel 단위테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunnerViewModelTests/MyPageScene/Mock/MockNotificationUseCase.swift
  MateRunner/MateRunnerViewModelTests/MyPageScene/NotificationViewModelTests.swift
Labels: review, 정원, test

#399 RaceRunningResultViewModel 테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/ResultViewModel/RaceRunningResultViewModel.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/ResultViewModel/TeamRunningResultViewModel.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/RaceRunningResultViewModelTests.swift
Labels: 민지, test

#400 TeamRunningResultViewModel 테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/ResultViewModel/TeamRunningResultViewModel.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/TeamRunningResultViewModelTests.swift
Labels: 민지, test

#401 AddMatViewModel 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/MateScene/ViewModel/AddMateViewModel.swift
  MateRunner/MateRunnerViewModelTests/MateScene/AddMateViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/MateScene/Mock/MockMateUseCase.swift
Labels: review, 유진, test

#402 SignUpViewModel 단위테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/LoginScene/ViewModel/SignUpViewModel.swift
  MateRunner/MateRunnerViewModelTests/LoginScene/Mock/MockSignUpUseCase.swift
  MateRunner/MateRunnerViewModelTests/LoginScene/SignUpViewModelTests.swift
Labels: review, 정원, test

#403 RaceRunningViewModel & TeamRunningViewModel 테스트 작성
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Domain/UseCase/Home/RunningUseCase/DefaultRunningUseCase.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/RunningViewModel/RaceRunningViewModel.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/RunningViewModel/TeamRunningViewModel.swift
  MateRunner/MateRunnerUseCaseTests/Common/EmojiUseCaseTests.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/InvitationUseCaseTests.swift
  MateRunner/MateRunnerUseCaseTests/RecordScene/ProfileEditUseCaseTests.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/Mock/MockMateRunningUseCase.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/RaceRunningViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/HomeScene/TeamRunningViewModelTests.swift
Labels: 민지, test

#404 MateViewModel 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner/Presentation/MateScene/ViewModel/MateViewModel.swift
  MateRunner/MateRunnerViewModelTests/MateScene/MateViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/MateScene/Mock/MockMateUseCase.swift
Labels: review, 유진, test

#405 RecordDetailViewModel 단위테스트
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunnerViewModelTests/RecordScene/Mock/MockRecordDetailUseCase.swift
  MateRunner/MateRunnerViewModelTests/RecordScene/RecordDetailViewModelTests.swift
Labels: review, 유진, test

#406 [Refactor] 린터 워닝 수정
  MateRunner/.swiftlint.yml
  MateRunner/MateRunner.xcodeproj/project.pbxproj
  MateRunner/MateRunner.xcodeproj/xcshareddata/xcschemes/MateRunner.xcscheme
  MateRunner/MateRunner/Domain/UseCase/Home/SettingUseCase/DefaultInvitationWaitingUseCase.swift
  MateRunner/MateRunner/Presentation/HomeScene/View/InvitationView.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewController/RunningViewController/RaceRunningViewController.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewController/RunningViewController/TeamRunningViewController.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/RunningViewModel/RaceRunningViewModel.swift
  MateRunner/MateRunner/Presentation/HomeScene/ViewModel/RunningViewModel/TeamRunningViewModel.swift
  MateRunner/MateRunner/Presentation/LoginScene/ViewController/LoginViewController.swift
  MateRunner/MateRunner/Presentation/MateScene/ViewModel/MateProfileViewModel.swift
  MateRunner/MateRunner/Util/Constant/FirestoreQuery.swift
  MateRunner/MateRunner/Util/Error/ImageCacheError.swift
  MateRunner/MateRunnerUseCaseTests/Common/Mock/MockFirestoreRepository.swift
  MateRunner/MateRunnerUseCaseTests/HomeScene/RunningUseCaseTests.swift
  MateRunner/MateRunnerUseCaseTests/MateScene/MateUseCaseTests.swift
  MateRunner/MateRunnerUseCaseTests/RecordScene/RecordUseCaseTests.swift
  MateRunner/MateRunnerViewModelTests/MateScene/Mock/MockProfileUseCase.swift
  MateRunner/MateRunnerViewModelTests/MyPageScene/MyPageViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/MyPageScene/ProfileEditViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/RecordScene/RecordDetailViewModelTests.swift
  MateRunner/MateRunnerViewModelTests/RecordScene/RecordViewModelTests.swift
Labels: review, 여훈, refactor, chore
